<app-header></app-header>
<p-toast></p-toast>
<div class="main-content">
  <div class="page-title">
    <div class="header-container" style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
      <h1 class="p-text-left" style="margin: 0;">Liste des propos de réparations</h1>
      <div style="display: flex; align-items: center; gap: 1rem; z-index: 1;">
        <input name="search" type="text" pInputText placeholder="Rechercher..." [(ngModel)]="searchQuery" (input)="filterPropos()"style="width: 200px;"/>
        <p-button icon="pi pi-plus" (click)="showDialog()" severity="warn"></p-button>
      </div>
    </div>
    <p-table [value]="displayedPropos" [paginator]="true" [rows]="rowsPerPage" [totalRecords]="totalPropos" [rowsPerPageOptions]="rowsPerPageOptions"(onPageChange)="onPageChange($event)" [tableStyle]="{ 'min-width': '60rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th class="center-align">Intitule</th>
                <th class="center-align">Action</th>
            </tr>
        </ng-template>  
        <ng-template pTemplate="body" let-propos>
            <tr>
                <td class="center-align">{{ propos.intitule }}</td>
                <!-- <td class="center-align">{{ propos._id }}</td> -->
                <td class="center-align" >
                  <p-button icon="pi pi-trash" severity="danger" [style]="{'background-color':'transparent', color:'red', 'border-color':'red'}" (click)="confirmAction(propos._id)"/>
                  <p-confirmDialog></p-confirmDialog>
                  <p-button icon="pi pi-pencil"  severity="warn" [style]="{'background-color':'transparent', color:'orange', 'border-color':'orange', 'margin-left':'10px'}"/>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-dialog header="Nouveau propos" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
      <form [formGroup]="formPropos" (ngSubmit)="onSubmit()">
        <div class="p-field">
          <input id="intitule" type="text" pInputText formControlName="intitule" class="p-inputtext p-component" placeholder="Entrez l'intitulé du propos" [style]="{color:'white'}"/>
        </div>
        <div class="flex justify-end gap-2">
          <p-button label="Annuler" severity="secondary" (click)="visible = false" />
          <p-button label="Ajouter" type="submit" severity="warn"/>
        </div>
      </form>
    </p-dialog>
  </div>
</div>