<!-- Titre séparé -->
<div class="page-title">
    <h1 class="p-text-left">nety</h1>
  </div>
  
<!-- Titre séparé -->
<!-- <div class="page-title">
    <h1 class="p-text-left">Formulaire de création de propos</h1>
  </div> -->
  <!-- Formulaire -->
  <!-- <div class="p-card p-4">
    <form [formGroup]="formPropos" (ngSubmit)="onSubmit()">
      <div class="p-field">
        <input
          id="intitule"
          type="text"
          pInputText
          formControlName="intitule"
          class="p-inputtext p-component"
          placeholder="Entrez l'intitulé du propos"
        />
        <div *ngIf="formPropos.get('intitule')?.invalid && formPropos.get('intitule')?.touched">
            <p-message severity="error">Intitulé du propos requis.</p-message>
        </div>
      </div>
  
      <p>
        <button pButton type="submit" label="S'inscrire" severity="warn" [disabled]="formPropos.invalid" class="p-button p-component">Ajouter</button>
      </p>
    </form>
    <p-table  [tableStyle]="{ 'min-width': '50rem' , 'text-align':'center'}">
      <ng-template #header>
          <tr>
              <th>Intitule</th>
              <th>Action</th>
          </tr>
      </ng-template>
      
    </p-table>
  </div> -->
  