.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px; /* Ajoute un espace sous le titre */
}

.filter-buttons {
  display: flex;
  gap: 10px; /* Espacement entre les boutons */
  margin-bottom: 20px; /* Espacement sous les boutons */
}

.active-btn {
  background-color: orange;
  color: black !important;
  border-radius: 8px;
  border-color: rgb(239, 185, 83);
}
