.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.filter-btn {
  margin: 0 10px;
}
